<table class="highlight centered booking-info"> 
  <thead class="teal lighten-2">
    <tr>
        <th>S.No</th>
        <th>Booking Status (Coach No , Berth No., Quota)</th>
        <th>Current Status (Coach No , Berth No.)</th>
    </tr>
  </thead>

  <tbody>
    {{#each pnrStatus.passengers as |passenger|}}
    <tr>
      <td>Passenger {{passenger.no}}</td>
      <td>{{passenger.booking_status}}</td>
      <td>{{passenger.current_status}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>