{{#if responseAwaited}}
  {{common/pre-loader}}
{{/if}}
{{#if pnrStatus}}
  <div class="pnr-status-info">
    <div class="header">
      <h6 class="pnr-header"><strong>Passenger Current Status Enquiry</strong></h6>
    </div>
    <div class="queryHeader">
      <h6 class="pnr-quey-header"><strong>You queried for PNR Number: {{pnrStatus.pnr}}</strong></h6>
    </div>
    <div class="journey-information">
      {{pnr-status/journey-info pnrStatus=pnrStatus}}
    </div>
    <div class="booking-information">
      {{pnr-status/booking-info pnrStatus=pnrStatus}}
    </div>
  </div>
{{/if}}