html,
body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

nav {
    position: fixed;
    z-index: 1000;
}

.main-content {
    min-height: 100%;
    display: grid;
    grid-template-rows: 112px 1fr 112px;
}

.brand-logo {
    margin-left: 1.6%;
}

.loader-on-wait {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.7;
    z-index: 9999;
}

.train-route,
.pnr-status,
.live-status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form-buttons {
    text-align: center;
}

.pnr-status-card,
.train-route-card,
.live-status-card {
    grid-column-start: 2;
    padding-top: 4rem;
    width: 30rem;
    height: 30rem;
}

.pnr-info,
.train-info,
.live-status-info {
    margin-bottom: 4rem;
}

.preloader-wrapper {
    position: absolute !important;
    left: 45%;
    z-index: 9999;
    top: 40%;
}

.pnr-status-info {
    margin: 2%;
}

.journey-information {
    width: 90%;
    padding-left: 6% !important;
    text-align: center;
    margin: 2%;
}

.booking-information {
    width: 90%;
    padding-left: 6% !important;
    text-align: center;
    margin: 2%;
}

.pnr-header,
.pnr-quey-header {
    padding-left: 6%;
    margin: 2%;
}

.map-canvas,
.map {
    width: 100%;
    height: 70rem;
    padding: 2rem;
    margin-bottom: 10rem;
}

.train-route-info {
    padding-top: 2rem !important;
}

.train-route-table,
.train-info-table,
.train-live-info {
    width: 100%;
    padding: 2rem !important;
    margin-bottom: 2rem !important;
}

.train-live-info {
    margin-top: 4rem;
    margin-bottom: 14rem;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}

.checkbox {
    width: 40px;
    height: 40px;
    background: #ddd;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkbox label {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    background: #333;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkboxStatus {
    width: 20px;
}

#checkedCheckbox {
    background: #26ca28;
}

#unCheckedCheckbox {
    background: #8b1b13;
}

#blinkingCheckbox {
    -moz-animation: tick 500ms infinite ease;
    -webkit-animation: tick 500ms infinite ease;
    background: #26ca28;
}

@-webkit-keyframes tick {
    0% {
        transform: scale(0.7);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes tick {
    0% {
        transform: scale(0.7);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@-ms-keyframes tick {
    0% {
        transform: scale(0.7);
    }
    90% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.autocomplete-content {
    max-height: 20rem;
}