<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Indian Railways App</h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2018 Copyright Text
    </div>
  </div>
</footer>
