<nav class="nav-extended blue darken-1">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Indian Railways</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons"></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">About Us</a></li>
      <li><a href="">Home</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab">{{#link-to 'pnr.index'}}PNR STATUS{{/link-to}}</li>
      <li class="tab">{{#link-to 'train.index'}}Train Route{{/link-to}}</li>
      <li class="tab">{{#link-to 'live-train-status'}}Live Train Status{{/link-to}}</li>
      <li class="tab"><a href="#test4">Train Between Stations</a></li>
    </ul>
  </div>
</nav>

