<div class="train-live-info">
  <table class="highlight centered"> 
    <thead class="teal lighten-2">
      <tr>
          <th class="checkboxStatus"></th>
          <th>Station</th>
          <th>Arrives</th>
          <th>Departs</th>
          <th>Late</th>
          <th>Distance</th>
      </tr>
  </thead>
  <tbody>  
    {{#each trainRunningStatus.routeInfo as |trainRunningInfo|}}
      <tr>
        {{#if trainRunningInfo.hasDeparted}}
          <td>
            <div class="checkbox">
              {{input type="checkbox"}}
              <label for="checkbox" id="checkedCheckbox"></label>
            </div>
          </td>
          <td>{{trainRunningInfo.name.stationName}}</td>
          <td>{{trainRunningInfo.actualArrival}}</td>
          <td>{{trainRunningInfo.actualDeparture}}</td>
          <td>{{trainRunningInfo.lateByMins}}</td>
          <td>{{trainRunningInfo.distance}}</td>
        {{/if}}
      </tr>
    {{/each}}
    <tr>
      <td>
        <div class="checkbox">
          {{input type="checkbox"}}
          <label for="checkboxFourInput" id="blinkingCheckbox"></label>
        </div>
      </td>
      <td>{{trainRunningStatus.currentStationName}}</td>
    </tr>
      {{#each trainRunningStatus.routeInfo as |trainRunningInfo|}}
      <tr>    
        {{#if (not trainRunningInfo.hasDeparted)}}
            <td>
              <div class="checkbox">
                {{input type="checkbox"}}
                <label for="checkboxFourInput" id="unCheckedCheckbox"></label>
              </div>
            </td>
            <td>{{trainRunningInfo.name.stationName}}</td>
            <td>{{trainRunningInfo.actualArrival}}</td>
            <td>{{trainRunningInfo.actualDeparture}}</td>
            <td>{{trainRunningInfo.lateByMins}}</td>
            <td>{{trainRunningInfo.distance}}</td>
          {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>