<div class="train-info-table">
  <table class="highlight centered"> 
    <thead class="teal lighten-2">
      <col>
      <col>
      <col>
      <colgroup span="7"></colgroup>
      <tr>
          <th>Train Number</th>
          <th>Train Name</th>
          <th>Runs From Source</th>
          <th colspan="7" scope="colgroup">Runs On</th>
      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">MONDAY</th>
        <th scope="col">TUESDAY</th>
        <th scope="col">WEDNESDAY</th>
        <th scope="col">THURSDAY</th>
        <th scope="col">FRIDAY</th>
        <th scope="col">SATURDAY</th>
        <th scope="col">SUNDAY</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{trainInformation.number}}</td>
        <td>{{trainInformation.name}}</td>
        <td>{{sourceStation}}</td>
        {{#each trainInformation.days as |runsOnDays|}}
        <td>{{runsOnDays.runs}}</td>
        {{/each}}
      </tr>
    </tbody>
  </table>
</div>

<div class="train-route-table">
  <table class="highlight centered"> 
    <thead class="teal lighten-2">
      <col>
      <col>
      <col>
      <colgroup span="7"></colgroup>
      <tr>
          <th>S. No.</th>
          <th>Station Code</th>
          <th>Station Name</th>
          <th>Arrival Time</th>
          <th>Departure Time</th>
          <th>Halt Time (In Minutes)</th>
          <th>Distance</th>
          <th>Travel Day</th>
      </tr>
    </thead>
    <tbody>
      {{#each trainStationInfo as |stationInfo|}}
        <tr>
          <td>{{stationInfo.number}}</td>
          <td>{{stationInfo.name.stationCode}}</td>
          <td>{{stationInfo.name.stationName}}</td>
          <td>{{stationInfo.scheduledArrival}}</td>
          <td>{{stationInfo.scheduledDeparture}}</td>
          <td>{{stationInfo.haltsFor}}</td>
          <td>{{stationInfo.distance}}</td>
          <td>{{stationInfo.travelDay}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
