<div class="pnr-status">
  <div class="col pnr-status-card">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6 class="pnr-info">Enter the PNR for your booking below to get the current status. 
          You will find it on the top left corner of the ticket.</h6>
          <div class="input-field">
            {{input type="text" placeholder="Enter PNR Number" autofocus=true id="pnr-number" value=pnrNumber class="validate"}}
            <label for="pnr-number">PNR Number</label>
          </div>
        </div>
        <div class="card-action">
          <div class="form-buttons">
            <a class="waves-effect waves-light btn-small blue darken-1" {{action 'onCheckingStatus' pnrNumber}}>Submit</a>
            <a class="waves-effect waves-light btn-small blue darken-1">Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>