<div class="train-route">
  <div class="col s4 train-route-card">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h6 class="train-info">Enter the Train No for the route.</h6>
          <div class="input-field">
            {{input type="text" placeholder="Enter Train Name/Number" key-up="trainName" 
            id="autocomplete" autofocus="autofocus" name=trainNumber 
            value=nameOrNumber class="autocomplete"}}
            <label for="autocomplete">Train Name/Number</label>
          </div>
        </div>
        <div class="card-action">
          <div class="form-buttons">
            <a class="waves-effect waves-light btn-small blue darken-1" 
              onclick={{action 'onCheckingRoute' nameOrNumber}}>Submit</a>
            <a class="waves-effect waves-light btn-small blue darken-1" 
              {{action 'onClearInput'}}>Clear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
