<table class="highlight centered journey-info"> 
  <thead class="teal lighten-2">
    <tr>
        <th>Train Number</th>
        <th>Train Name</th>
        <th>Boarding Date</th>
        <th>From</th>
        <th>To</th>
        <th>Reserved Upto</th>
        <th>Boarding Point</th>
        <th>Class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{pnrStatus.train.number}}</td>
      <td>{{pnrStatus.train.name}}</td>
      <td>{{pnrStatus.doj}}</td>
      <td>{{pnrStatus.from_station.name}}</td>
      <td>{{pnrStatus.to_station.name}}</td>
      <td>{{pnrStatus.reservation_upto.name}}</td>
      <td>{{pnrStatus.boarding_point.name}}</td>
      <td>{{pnrStatus.journey_class.code}}</td>
    </tr>
  </tbody>
</table>