{{#if responseAwaited}}
  {{common/pre-loader}}
{{/if}}
{{#if liveStatusFound}}
  <div class="live-status">
    <div class="col live-status-card">
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <h6 class="live-status-info">Enter the train no for train live running status.</h6>
            <div class="input-field">
              {{input type="text" placeholder="Enter Train Number" id="train-number" value=trainNumber class="validate"}}
              <label for="pnr-number">Train Number</label>
            </div>
            <div class="input-field">
              {{input type="date" id="datePicker" placeholder="Enter date." value=date}}
              <label for="date">Date</label>
            </div>
          </div>
          <div class="card-action">
            <div class="form-buttons">
              <a class="waves-effect waves-light btn-small blue darken-1" {{action 'onLiveTrainStatus' trainNumber date}}>Submit</a>
              <a class="waves-effect waves-light btn-small blue darken-1">Clear</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if liveTrainStatusFound}}
  {{live-train-status/live-info-table trainRunningStatus=trainRunningStatus}} 
  {{live-train-status/train-on-map trainRunningStatus=trainRunningStatus}}
  
{{/if}}
