{{#if responseAwaited}}
  {{common/pre-loader}}
{{/if}}
<div class="train-route-info">
    {{#if trainRouteFound}}
        {{train-route/train-time-table trainStationInfo=trainStationInfo trainInformation=trainRouteInfo.train sourceStation=sourceStation}} 
        {{train-route/route-on-map trainStationInfo=trainStationInfo}}
    {{/if}}   
</div>