<div class="main-content">
  <div class="navigation-bar">
    {{navigation-bar}}
  </div>
  <div class="app-outlet">
    {{outlet}}
  </div>
  <div class="app-footer">
    {{app-footer}}
  </div>
</div>